.body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

div.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
    margin: 0 100px;
    justify-content: center;
    align-items: center;
}

.boxes {
    background-color: white;
}

.boxes.hover {
    background-color: grey;
}