body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

div.resetButton {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 0;
}

button {
    width: 120px;
    height: 50px;
    font-size: 1.6em;
    font-style:italic;
    font-weight: bold;
    background-color: white;
}

div.container {
    display: flex;
    flex-direction: column;
    min-height: 960px;
    min-width: 960px;
    max-height: 960px;
    max-width: 960px;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex: 0 1 0;
}

.boxes.hover {
    background-color: grey;
}

div.middleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

div.left,
div.placeholder {
    width: 20%;
    height: 100%;
}

div.left {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

div.lastpic {
    display: flex;
    flex-shrink: 1;
    margin-left: 100px;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
}

p {
    margin-left: 100px;

    color: darkred;
    font-weight: bold;
    font-style:italic;
    text-align: center;
    font-size: 6em;
}